[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "3rdparty/gflags"]
	path = 3rdparty/gflags
	url = git@github.com:gflags/gflags.git
[submodule "3rdparty/libwebsockets"]
	path = 3rdparty/libwebsockets
	url = git@github.com:heiseish/libwebsockets.git
[submodule "3rdparty/abseil"]
	path = 3rdparty/abseil
	url = git@github.com:abseil/abseil-cpp.git
[submodule "3rdparty/libtelegram"]
	path = 3rdparty/libtelegram
	url = git@github.com:heiseish/libtelegram.git
[submodule "3rdparty/nlohmann"]
	path = 3rdparty/nlohmann
	url = git@github.com:nlohmann/json.git
